/********** color **********/
:root {
	--color-offwhite: #e5e5e5;
	--color-red: #e2231a;
	--color-green: #cbcdc2;
	--color-cool-grey: #788691;
	--color-blue: #275da5;
	--color-error-red: #f4333d;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-background: #040218;

	--navbar-height: 62.1px;
}

/********** fonts **********/
@font-face {
	font-family: "d-dindin-bold";
	src: url("../fonts/d-din-bold-webfont.woff2") format("woff2"), url("../fonts/d-din-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;

	margin: 12px 15px;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 12px;

	height: 100vh;
	overflow: hidden;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
p,
.p {
	margin: 0;
	padding: 0;
}

h3 {
	font-family: "d-dindin-bold", serif;
	font-size: 16px;
	text-transform: uppercase;
}

h4 {
	font-family: "d-dindin-bold", serif;
	font-size: 12px;
	line-height: 13px;

	display: flex;
	align-items: center;
	text-align: center;

	margin-top: 0rem;
	margin-bottom: 0rem;
}

a {
	text-decoration: none;
	color: var(--color-red);
}

/********** flex **********/
.flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 30px;
}

.vert-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	align-items: center;
}

/********** navbar **********/
.navbar-brand img {
	width: 160px;
	height: auto;
}

/********** button **********/
.btn-primary {
	--bs-btn-padding-y: 7px;
	--bs-btn-padding-x: 20px;
	background: var(--color-red);
	border-radius: 5px;
	border: var(--color-red);
}

.btn-back {
	display: flex;
	flex-direction: row;
	gap: 2px;

	padding: 7px 5px;
}

.btn-back > h4 {
	color: var(--color-black);
	opacity: 25%;
}

.btn-back > img {
	padding-top: 2px;
}

.button-group {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.form-check-label {
	display: flex;
	padding-left: 15px;
	padding-top: 4px;
}

.form-check-input {
	width: 25px;
	height: 25px;
	box-shadow: none !important;
}

.form-check-input:focus {
	border-width: 1.5px;
	border-color: var(--color-blue);
	background-color: var(--color-offwhite);
}

.form-check-input:checked {
	background-color: var(--color-blue);
}

/********** line **********/
line {
	height: 1px;
	background-color: var(--color-black);
}

/********** progress bar **********/
.dot {
	height: 40px;
	width: 40px;
	background-color: var(--color-offwhite);
	border-radius: 50%;
	display: inline-block;

	color: var(--color-white);

	border-style: solid;
	border-width: 1.5px;
	border-color: var(--color-white);

	display: flex;
	justify-content: center;
	align-items: center;
}

.dot-red {
	background-color: var(--color-red);
}

.progress-line {
	display: flex;

	height: 1.5px;
	background-color: var(--color-offwhite);
	flex-grow: 1;
}

.progress-bar {
	width: 100%;
}

/********** form field **********/
.form-control {
	box-shadow: none !important;
	border-width: 1px;
	border-color: var(--color-offwhite);
}

.form-control:focus {
	border-width: 1.5px;
	border-color: var(--color-blue);
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
	border-width: 1.5px;
	border-color: var(--color-error-red);
	fill: var(--color-error-red);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23f4333d'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23f4333d' stroke='none'/%3e%3c/svg%3e");
}

.invalid-feedback {
	display: none;
	color: var(--color-error-red);
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.form-label {
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.background-image {
	background-image: url("../im/gradient-static.jpg");
	background-size: cover;
	background-position: center;
	height: 100%;
	width: auto;
}

.video-container {
	position: relative;
}

.video-container video {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	z-index: -1;
}

.para-group {
	display: flex;
	flex-direction: column;
	gap: 15px;

	padding: 16px;
	font-size: 14px;
}

.checkbox-group {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 14px;
}

/********** mobile **********/
body {
	height: 100vh;
	overflow: auto;
	margin: 0;
}

.container-flex {
	display: flex;
	flex-direction: column;
	gap: 12px;

	padding: 12px 15px;
}

.row-flex {
	display: grid;
	grid-auto-flow: row;
	grid-auto-columns: 1fr;
	gap: 20px;
}

.row-flex-max {
	display: grid;
	grid-auto-flow: row;
	grid-auto-columns: 1fr;
	width: 100%;
}

.start-content {
	height: calc(100vh - var(--navbar-height) - 36px);
	flex-grow: 1;
	color: var(--color-white);
	background-color: var(--color-background);
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	gap: 30px;

	padding: 50px 25px;
}

.form-content {
	flex-grow: 1;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	gap: 30px;

	padding: 25px 15px;
}

.form-group {
	display: grid;
	grid-auto-flow: row;
	grid-auto-columns: 1fr;
	gap: 10px;
}

.step-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.hide-sm {
	display: none;
}

/********** tablets **********/
@media (min-width: 768px) {
	body {
		height: 100vh;
		overflow: auto;
		margin: 0;
	}

	.container-flex {
		display: flex;
		flex-direction: column;
		gap: 16px;

		padding: 16px 22px;
	}

	.row-flex {
		display: grid;
		grid-auto-flow: row;
		grid-auto-columns: 1fr;
		gap: 20px;
	}

	.start-content {
		height: calc(100vh - var(--navbar-height) - 48px);
		flex-grow: 1;
		color: var(--color-white);
		background-color: var(--color-background);
		overflow-y: auto;

		display: flex;
		flex-direction: column;
		gap: 20px;

		padding: 75px 35px;
	}

	.form-content {
		flex-grow: 1;
		background-color: var(--color-white);
		overflow: auto;

		display: flex;
		flex-direction: column;
		gap: 30px;

		padding: 70px 50px;
	}

	.form-group {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
		gap: 10px;
	}

	.button-group {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.hide-md {
		display: none !important;
	}

	.hide-sm {
		display: block;
	}
}

/********** laptops **********/
@media (min-width: 992px) {
	body {
		height: 100vh;
		overflow: none;
		margin: 0;
	}

	.container-flex {
		display: flex;
		flex-direction: column;
		gap: 20px;

		padding: 30px;
	}

	.row-flex {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
		gap: 20px;
	}
	.start-content {
		flex-grow: 1;
		height: calc(100vh - var(--navbar-height) - 80px);
		color: var(--color-white);
		background-color: var(--color-background);
		overflow-y: auto;

		display: flex;
		flex-direction: column;
		gap: 20px;

		padding: 100px 50px;
	}
	.form-content {
		height: calc(100vh - var(--navbar-height) - 80px);
		overflow: scroll;
	}
	.hide-md {
		display: none !important;
	}
	.hide-lg {
		display: none !important;
	}
	.hide-sm {
		display: block;
	}
}

/********** utilities **********/
.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

/********** overlay **********/
.overlay-container {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.white-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	gap: 5px;

	justify-content: center;
	align-items: center;
}
