/********** fonts **********/
@font-face {
	font-family: "d-dindin-bold";
	src: url("../fonts/d-din-bold-webfont.woff2") format("woff2"), url("../fonts/d-din-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;

	margin: 12px 15px;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 12px;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
p,
.p {
	margin-bottom: 0;
}

h3 {
	font-family: "d-dindin-bold", serif;
	font-size: 16px;
	text-transform: uppercase;
}

h4 {
	font-family: "d-dindin-bold", serif;
	font-size: 12px;
	line-height: 13px;

	display: flex;
	align-items: center;
	text-align: center;

	margin-top: 0rem;
	margin-bottom: 0rem;
}

/********** flex **********/
.flex-col-10 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 10px;
}

.flex-col-20 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 20px;
}

.flex-row-10 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 10px;
}

.flex-row-20 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 20px;
}

/********** padding **********/
.padding-x-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.padding-y-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

/********** button **********/
.btn-primary {
	--bs-btn-padding-y: 7px;
	--bs-btn-padding-x: 20px;
	background: #e2231a;
	border-radius: 5px;
	border: #e2231a;
}


/********** navbar **********/
.navbar-brand img {
	width: 50%;
}

.navbar {
	--bs-navbar-padding-x: 0;
	--bs-navbar-padding-y: 0;
}

.navbar .container {
	margin: 0px;
	padding: 0px;
	--bs-gutter-x: 0;
	--bs-gutter-y: 0;
}

/********** container **********/
.bg_grey {
	background: #e5e5e5;
}

/********** tablets **********/
@media (min-width: 768px) {
	.navbar .container {
		/* remove margin */
		margin: 0 10px;
	}
	.navbar-brand {
		padding-top: 6px;
	}
}

/********** laptops **********/
@media (min-width: 992px) {
	.navbar .container {
		margin: 0 18px;
	}
	.navbar-brand {
		padding-top: 14px;
	}
}

/********** utilities **********/
.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}